{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookSnap</title>

    <link rel="icon" href="{% static 'resources/cooksnap-logo.png' %}" alt="LyncottIcon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles/styleMain.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styleCirculos.css' %}" />
</head>

<body class="background">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light p-3">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'main' %}">
            <img src="{% static 'resources/cooksnap-logo.png' %}" alt="Cooksnap Logo" 
                class="hexagon-img" style="min-width:150px; height:auto;" /><span class="fw-bold fs-5 text-dark">Home</span>
        </a>
    
        <!-- Toggler button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item me-3">
                    <h1 class="nav-link mb-0 text-center text-lg-start fw-bold fs-5 text-dark">
                        Welcome <span style="color:#FF5535">{{ user.username }}</span>! Ready to start cooking?
                    </h1>
                </li>
                <li class="nav-item">
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    

    <ul class="circles">
        {% for _ in "12345678901234567890"%}
        <li></li>
        {% endfor %}
    </ul>

    <p class="text-muted justify-content-center text-center" style="font-weight:500;">Fase pre-alpha</p>

    <div class="container">
        <div class="row g-4">
            <!-- Large Card -->
            <div class="col-12 col-md-6">
                <a href="{% url 'photo' %}" class="card text-decoration-none h-100 custom-card shadow-lg card-photo">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-camera-fill custom-icon mb-3"></i>
                        <h5 class="card-title fw-bold" style="font-size: 1.8rem;">Let's start cooking</h5> 
                    </div>
                </a>
            </div>
            
            
            <!-- Modal for User Preferences -->
            {% include "mainTemplate/modalUserPref.html" %}

            <!-- Column with 3 larger, centered cards -->
            <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
                <a href="{% url 'saved_recipes' %}" class="card text-decoration-none custom-card shadow-lg mb-4 card-bg" style="background-position: center top">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-folder-fill custom-icon mb-2"></i>
                        <h5 class="card-title fw-bold">Saved Recipes</h5>
                    </div>
                </a>
                <a href="{% url 'explore_recipes' %}" class="card text-decoration-none custom-card shadow-lg mb-4 card-bg" style="background-position: center center">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-search custom-icon mb-2"></i>
                        <h5 class="card-title fw-bold">Explore Recipes</h5>
                    </div>
                </a>
                <a href="#" id="openUserSettings" class="card text-decoration-none custom-card shadow-lg card-bg" style="background-position: center bottom">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <i class="bi bi-person-gear custom-icon mb-2"></i>
                        <h5 class="card-title fw-bold">User settings</h5>
                    </div>
                </a>                
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        crossorigin="anonymous">
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const settingsBtn = document.getElementById("openUserSettings");
            const modal = new bootstrap.Modal(document.getElementById("userSettingsModal"));
        
            settingsBtn.addEventListener("click", function (e) {
                e.preventDefault(); // Previene el salto de página
                modal.show();
            });
        });
    </script>
</body>
</html>
