{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore Recipes</title>
    <link rel="icon" href="{% static 'resources/cooksnap-logo.png' %}" alt="CookSnapIcon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'styles/stylePreferences.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styleCirculos.css' %}" />
</head>

<body class="background">
    <!-- Background Animation -->
    <ul class="circles">
        {% for _ in "12345678901234567890" %}<li></li>{% endfor %}
    </ul>

    <!-- Main Content -->
    <div class="container bg-light rounded custom-container position-relative" style="z-index:1;">
        <h1 class="mt-3 mb-4 text-center"> <span style="color:#FF5535">{{ user.username|capfirst }}</span> let's improve your <span style="color:#FF5535">cooking</span> preferences!</h1>

        <!-- Progress bar -->
        <div class="progress mb-4" style="height: 25px; margin-left: 46px; margin-right: 46px;">
            <div id="progressBar" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                Step 1 of 3
            </div>
        </div>
        
        <form method="POST" action="{% url 'main' %}">
            <div id="successMessage" class="alert alert-success d-none mt-4" role="alert">
                Preferences saved successfully! Wait a moment...
            </div>
            
            {% csrf_token %}
            <!-- Step 1 -->
            <div class="step" id="step1">
                <fieldset class="mb-3 p-4 border rounded shadow-sm bg-light">
                    <label for="cookingLevel" class="form-label fs-4 fw-bold">Let us know your allergies:</label>
                    <div class="row g-3">
                        {% for allergy in allergies %}
                        <div class="col-6 col-md-4 col-lg-3">
                            <label class="custom-card">
                                <input type="checkbox" class="form-check-input d-none" name="allergies" value="{{ allergy }}">
                                <div class="custom-card-body">{{ allergy }}</div>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mt-4">
                        <label for="customAllergy" class="form-label fs-4 fw-bold">Didn't find your allergy? Add it here:</label>
                        <div class="d-flex">
                            <input type="text" id="customAllergy" class="form-control me-2" placeholder="Type your allergy" />
                            <button type="button" id="addAllergyBtn" class="btn btn-success">Add</button>
                        </div>
                    </div>
                    <div id="customAllergiesList" class="d-flex flex-wrap g-3 mt-3"></div>  
                </fieldset>
            </div>

            <!-- Step 2 -->
            <div class="step d-none" id="step2-3">
                <fieldset class="col-md-10 mx-auto mb-3 p-4 border rounded shadow-sm bg-light">
                    <legend class="form-label fs-4 fw-bold text-center mb-3">
                        Would you like to see the nutritional information for ingredients and recipes?
                    </legend>
                        
                    <!-- Nutritional information checkboxes -->
                    <div class="row justify-content-center">
                        <div class="col-md-5 d-flex justify-content-center align-items-center mb-3">
                            <input class="form-check-input me-2 fs-4" type="checkbox" id="lowCalories" name="nutrition" value="Yes">
                            <label class="form-check-label" for="lowCalories">
                                <i class="bi bi-check-circle text-success me-2"></i>Yes, I want to know
                            </label>
                        </div>
            
                        <div class="col-md-5 d-flex justify-content-center align-items-center mb-3">
                            <input class="form-check-input me-2 fs-4" type="checkbox" id="highProtein" name="nutrition" value="No">
                            <label class="form-check-label" for="highProtein">
                                <i class="bi bi-x-circle text-danger me-2"></i>No, I don't care about it
                            </label>
                        </div>
                    </div>
            
                    <!-- Cooking level select -->
                    <div class="mb-3 mt-5 text-center">
                        <label for="cookingLevel" class="form-label fs-4 fw-bold mb-3">Let us know your cooking level?</label>
                        <select id="cookingLevel" class="form-select fs-5 fw-bold" name="cooking_level" style="max-width: 300px; margin: 0 auto; color:#333;">
                            <option value="" disabled selected>Select your level</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                        </select>
                    </div>
                    
                </fieldset>
            </div>
            
            
            <!-- Step 4 -->
            <div class="step d-none" id="step4">
                <h4 class="mb-3">Review your preferences and submit!</h4>
                <div id="summary" class="p-3 border rounded bg-white">
                    <h5>Summary:</h5>
                    <ul id="summaryList" class="list-unstyled">
                        <li><strong>Allergies: </strong> <span id="summaryAllergies">None</span></li>
                        <li><strong>Nutritional Goals: </strong> <span id="summaryNutrition">None</span></li>
                        <li><strong>Cooking Level: </strong> <span id="summaryCookingLevel">None</span></li>
                    </ul>
                </div>
            </div>

            <div id="formSteps"></div>
            <!-- Botones de navegación -->
            <div class="d-flex justify-content-between align-items-center mb-5 mt-5">
                <div>
                    <button id="prevBtn" class="btn btn-enviar" style="font-weight: 500;" type="button">Previous</button>
                </div>
                <div>
                    <button id="nextBtn" class="btn btn-enviar" type="button">Next</button>
                    <button id="submitBtn" class="btn btn-enviar d-none" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"> </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'scripts/customPreferences.js' %}"></script>
</body>
</html>