body { 
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recovery-container {
    border: 3px solid #ff5535;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-weight: 600;
}
h1 span {
    color: #ff5535;
}

.btn-custom {
    background-color: #ff5535;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 80%; 
}

/* Cambiar el color del botón cuando el usuario pasa el cursor */
.btn-custom:hover {
    background-color: #e14a2f;
}

/* Ocultar alertas por defecto */
.hidden-alert {
    display: none; /* No se muestra inicialmente */
}

/* Cuando se muestra la alerta */
.alert-container .alert {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    transition: opacity 0.5s ease;
    opacity: 1;
}