<!-- 
version 1.0 - 18/10/2024 - Aguilar Velázquez Marco Antonio:
    Este template renderiza una página de recuperación de contraseña para la aplicación CookSnap,
    donde los usuarios pueden ingresar su correo electrónico para recibir un enlace de recuperación.
    El formulario de recuperación de contraseña está diseñado con Bootstrap y estilos personalizados,
    y se incluye un mensaje de error si el correo electrónico no se encuentra en la base de datos.
    Además, se ha añadido un fondo animado con círculos que se mueven en la página para darle un toque visual.
    El diseño es responsivo y se adapta a diferentes tamaños de pantalla.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <link rel="icon" href="{% static 'resources/cooksnap-logo.png' %}" alt="LyncottIcon" />

    <!-- Archivo CSS personalizado -->
    <link rel="stylesheet" href="{% static 'styles/password_recovery.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styleCirculos.css' %}" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous" />
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="recovery-container text-center">
            <header class="mb-2">
                <a href="{% url 'login' %}">
                    <img src="{% static 'resources/cooksnap-logo.png' %}" alt="Logo" class="logo mb-4" style="width: 35vh; height: auto;">
                </a>
            </header>

            <h1 class="mb-4"><span style="color:#ff5535;">Password</span> Recovery</h1>

            <!-- Mensajes de Django -->
            <div id="alert-container" class="hidden-alert"> <!-- Oculto por defecto -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- Formulario de recuperación de contraseña -->
            <form method="post" action="{% url 'passwd_recovery' %}">
                {% csrf_token %}
                <div class="mb-5 text-start">
                    <label for="email" class="form-label" style ="font-weight: 600; width:80%;">Enter your email:</label>
                    <input type="email" id="email" name="email" class="form-control" style ="border-color: #070D59; border-width: 2px;" placeholder="Enter your email..." required>
                </div>
                <button type="submit" class="btn-custom">Send Recovery Link</button>
            </form>
        </div>
    </div>

    <ul class="circles" style="z-index: -1;">
        {% for _ in "12345678901234567890"%}
        <li></li>
        {% endfor %}
    </ul>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Archivo JS personalizado -->
    <script src="{% static 'scripts/alertTimer.js' %}"></script>

    <script>
        jQuery(document).ready(function () {
            jQuery(".container-wrap").append(
                "<ul class='circles'><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>"
            );
        });
    </script>
</body>
</html>
